@model SistemaComparacaoAutomatica.MVC.ViewModels.ClientesViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="ClienteCreateController">
    <form class="form-horizontal" name="clienteForm">
        <h4>{{title}}</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label ">Nome</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="Nome" ng-required="true" class="form-control text-box single-line" />
            </div>
            <div class="col-md-2">
                <label class="control-label ">Sobrenome</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="Sobrenome" ng-required="true" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label ">Senha</label>
            </div>
            <div class="col-md-4">
                <input type="password" ng-model="cliente.Senha" ng-required="true" class="form-control text-box single-line" />
            </div>

            <div class="col-md-2">
                <label class="control-label ">Confirmação de Senha</label>
            </div>
            <div class="col-md-4">
                <input type="password" ng-model="cliente.ConfirmacaoSenha" ng-required="true" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label ">Email</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="Endereco" ng-required="true" class="form-control text-box single-line" />
            </div>

            <div class="col-md-2">
                <label class="control-label ">Endereço</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="EnderecoCliente" ng-required="true" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label ">Bairro</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="Bairro" ng-required="true" class="form-control text-box single-line" />
            </div>

            <div class="col-md-2">
                <label class="control-label ">Cidade</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="Cidade" ng-required="true" class="form-control text-box single-line" />
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label">Cep</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="CepCod" ng-required="true" cep-dir class="form-control text-box single-line" />
            </div>

            <div class="col-md-2">
                <label class="control-label ">Complemento</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="Complemento" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label ">Número</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="Numero" ng-required="true" class="form-control text-box single-line" />
            </div>

            <div class="col-md-2">
                <label class="control-label ">Data de Nascimento</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="DataNascimento" ng-required="true" date-dir class="form-control text-box single-line" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label ">UF</label>
            </div>
            <div class="col-md-4">
                <select ng-model="UF" ng-options="UF.CodUF as UF.Abreviatura for UF in UFs" class="form-control text-box single-line">
                    
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-8 col-md-4">
                <input type="submit" value="Inserir Cliente" class="btn btn-primary" ng-disabled="clienteForm.$invalid" ng-click="setCliente()" />
            </div>

        </div>
    </form>
</div>

<div>
    @Html.ActionLink("Voltar", "Login/Login")
</div>

@section Scripts {
    <script src="~/App/Cliente/Create.js"></script>
    <script src="~/App/Diretivas/TelefoneMask.js"></script>
    <script src="~/App/Diretivas/CepMask.js"></script>
    <script src="~/App/Diretivas/DataMask.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}


